<div class="container-temp">
    <div class="bg">
        <video src="/video/bg.mp4" muted autoplay loop></video>
    </div>
    <h1 id="h1">Coming Soon</h1>
    <h3 id="h3">Site Nearly Ready</h3>
    <div class="progress-bar"><span></span></div>
</div>