<%- include('partials/header') %>

<div class="container">
    <h1 class="headline">
        <i class='bx bx-expand-horizontal bx-sm'></i>
        <p class="underline">Invited Talks</p>
    </h1>
    <div class="i-p">
        <ol>
            <li>
                “<b>Modelling of duct based photovoltaic thermal (PVT) air collector</b>” in International conference on Differential Equations and Control Problems-Modeling, Analysis and computations (ICDECP-19) during June 17-19, 2019 at <b>Indian Institute of Technology Mandi (IIT Mandi), H.P., India</b>.
            </li>
            <li>
                “<b>Cost effectiveness of electrical energy from bifacial photovoltaic modules and their wide application</b>” in <b>IEEE</b> sponsored and <b>Springer</b> supported International Conference <b>GUCON2019</b> on 27-28 Sep 2019 at Radisson-Blue and Galgotias University, Greater Noida.
            </li>
            <li>
                “<b>Advanced application of bifacial PV module over mono facial PV module in urban areas</b>” in National conference <b>SOLARIS2020</b> at <b>Shriram Murti Memorial University</b>, Lucknow on 07-09 Feb 2020.
            </li>
            <li>
                “<b>Photovoltaic usability and dependency in new era</b>” in <b>IEEE Region Symposium(TRANSYP)</b> 2020 held in 5-7 June 2020 in Dhaka, Bangladesh with virtual mode. 
            </li>
            <li>
                “<b>Solar hybrid photovoltaic compound parabolic concentrator</b>” in One-Week Online Faculty Development Program on “Advance in Mechanical Engineering for Sustainability organized” by <b>Govt. Engineering College Bikaner, Rajasthan</b> on 27-31 May 2021.
            </li>
        </ol>
    </div>
    <h1 class="headline">
        <i class='bx bx-expand-horizontal bx-sm'></i>
        <p class="underline">Faculty Development Programmes</p>
    </h1>
    <div class="i-p">
        <ol>
            <li>
                Completed <b>AICTE recognized Short Term Course</b> on “<b>Projects on Electrical and Electronics Engineering</b>” from 06-10 August 2018 at NITTTR Chandigarh, Punjab, India.
            </li>
            <li>
                Completed <b>Ministry of New and Energy Renewable (MNRE)</b> sponsored one-week workshop on “<b>Energy Efficiency for Solar PV systems</b>” at <b>CSIR-NPL campus New Delhi, India</b> on 3-7 Dec 2018.
            </li>
            <li>
                Completed FDP on “<b>Teaching and Learning in Engineering</b>” in Feb-March 2019 conducted by <b>NPTEL-AICTE, IISc Bangalore</b>, Karnataka, India.
            </li>
            <li>
                Completed <b>AICTE and ATAL approved 5 days’ workshop on “Internet of things based Applied Engineering in Agriculture”</b> in online mode on 12-16 Oct 2020.
            </li>
            <li>
                Completed <b>AICTE Sponsored Training and Learning (ATAL)</b> Academy <b>Online</b> FDP on "<b>Electric Vehicles</b>" from Nov 30-Dec 04, 2020 at <b>University College of Engineering Villupuram</b>.
            </li>
            <li>
                Completed <b>AICTE Sponsored Training and Learning (ATAL)</b> Academy <b>Online</b> FDP on "<b>Internet of Things (IoT)</b>" from Oct 12-16 2020 at <b>Indian Institute of Information Technology Kota</b>. 
            </li>
            <li>
                Completed <b>AICTE Sponsored</b> One Week Short Term Training Programme <b>On “Trends for Industry 4.0 Beyond 2020: Electronics Engineering Perspective”</b> on 15th - 20th March 2021, conducted by J.C. Bose University of Science and Technology, YMCA, Faridabad, Haryana, India.
            </li>
            <li>
                Completed <b>AICTE (Atal) Sponsored</b> One Week Faculty Development Program on “<b>Design Thinking</b>” on 21-25 June 2021, conducted by at Bhartiya Vidyapeeth College of Engineering. in online mode.
            </li>
        </ol>
    </div>
    <h1 class="headline">
        <i class='bx bx-expand-horizontal bx-sm'></i>
        <p class="underline">Session Chair in International Conferences</p>
    </h1>
    <div class="i-p">
        <ol>
            <li>
                For track of <b>PV and its application</b> in International conference <b>SOLARIS</b> 2019, held on 07-09 Feb 2019 at <b>Jamia Milia Islamia Central University, New Delhi</b>, India.
            </li>
            <li>
                For Track of <b>SD-1, on Renewable energy and power</b> in National Conference <b>SOLARIS 2020 at Shriram Murti Memorial University, Lucknow</b> on 07-09 Feb 2020.
            </li>
            <li>
                For Track of <b>FD-1, on Renewable energy and resources in International Conference on Electrical and Electronics Engineering, ICEEE2020 at National Power Training Institute (NPTI)</b>, Faridabad on 28-29 Feb 2020.
                <a href="" class="underline link"></a>
            </li>
            <li>
                <b>For Track of TD-1, on Power and Energy Engineering in IEEE technically and financially sponsored</b> International Conference <b>GUCON2020</b> on 02-04 Oct 2020 in Virtual Mode through WebEx. 
                <a href="" class="underline link"></a>
            </li>
            <li>
                <b>For Track of SD-2, on Power and Energy Engineering in IEEE technically and financially sponsored</b> International Conference <b>ICCCA2020</b> on 30-31 Oct 2020 in Virtual Mode through WebEx.
                <a href="" class="underline link"></a>
            </li>
            <li>
                For Track of <b>SD-2, on Renewable energy and resources in Springer International Conference on Electrical and Electronics Engineering, ICEEE2020</b>, jointly organized by Galgotias University and University of Malaya, Malaysia on 02-03 Jan 2021 (online mode).
                <a href="" class="underline link"></a>
            </li>
            <li>
                For <b>Session 9, on Mechatronics and Artificial Intelligence in 1st International Conference on Mechatronics and Artificial Intelligence (ICMAI – 2021)</b> at SGT University on 26-27 Feb 2021 (online mode).
                <a href="" class="underline link"></a>
            </li>
            <li>
                For <b>Session 2, on Renewable Energy Applications in Springer 1stInternational Conference on Renewable Technologies in Engineering (ICRTE-2021)</b> at MRIIRS, Aravali Hills, Faridabad on 15-16 April 2021 (Online mode).
            </li>
        </ol>
    </div>
    <h1 class="headline">
        <i class='bx bx-expand-horizontal bx-sm'></i>
        <p class="underline">Organized Conferences/Technical Chair</p>
    </h1>
    <div class="i-p">
        <ol>
            <li>
                Organized <b>IEEE sponsored and Springer</b> supported International Conference <b>GUCON2019</b> on 27-28 Sep 2019 at Radisson Blue, Greater Noida as a member of core organizing committee.
                <a href="" class="underline link"></a>
            </li>
            <li>
                Technical Chair of <b>Springer</b> supported International Conference <b>ICEEE2020</b> on Feb 28-29, 2020 at National Power Training Institute (NPTI), Faridabad and Galgotias University, Greater Noida as a member of core organizing committee.
                <a href="" class="underline link"></a>
            </li>
            <li>
                Organized <b>IEEE financial sponsored</b> International Conference <b>GUCON2020</b> on 02-04 Oct 2020, in virtual mode as a member of core organizing committee.
                <a href="" class="underline link"></a>
            </li>
            <li>
                Track Chair and member of core organizing committee of <b>IEEE American Society</b> supported International Conference <b>ICCCA2020</b> on Oct 30-31, 2020 at Galgotias University, Greater Noida.
                <a href="" class="underline link"></a>
            </li>
            <li>
                Technical Chair and member of core organizing committee of <b>Springer</b> supported international conference on Advanced Computing and Intelligent Technologies <b>(ICACIT)</b> on March 20-21, 2021, online mode organized by Galgotias University and University of Di Siena, Italy as a member of core organizing committee.
                <a href="" class="underline link"></a>
            </li>
        </ol>
    </div>
</div>

<%- include('partials/footer') %>