<%- include('partials/header') %>

<div class="container">
    <h1 class="headline">
        <i class='bx bx-expand-horizontal bx-sm'></i>
        <p class="underline">International</p>
    </h1>
    <div class="i-p">
        <p><b>Two International Australian patents</b> have been granted in 2020 & 2021</p>
        <ol>
            <li>
                <p>TITLE: - <b>A TECHNIQUE FOR TRAFFIC PREDICTION AND CONGESTION CONTROL IN
                        IOT NETWORKS USING MACHINE LEARNING</b></p>
                <b class="status">Status: Granted on 11 Nov 2020. application number-2020102637</b>
            </li>
            <li>
                <p>TITLE: - <b>AN AUTONOMOUS BLOCK CHAIN BASED IOT NODE CLOUD
                        COMMUNICATION FOR SMART LIGHTNING SYSTEM</b></p>
                <b class="status">Status: Granted on 22 jan2021. application number-2020103018</b>
            </li>
        </ol>
    </div>
    <h1 class="headline">
        <i class='bx bx-expand-horizontal bx-sm'></i>
        <p class="underline">National</p>
    </h1>
    <div class="n-p">
        <ol>
            <li>
                <p>TITLE: - <b>TOKENLESS VOTER VERIFICATION SYSTEM AND METHOD THEREOF</b></p>
                <b class="status">Role: First applicant & inventor</b>
                <b class="status">Status: Published, now under examination. app. no.- 202011044601</b>
            </li>
            <li>
                <p>TITLE: - <b>SELF-CHECKOUT METHOD USING AN IOT BASED SHOPPING CART</b></p>
                <b class="status">Role: First applicant & inventor</b>
                <b class="status">Status: Published, now under examination. application no.- 202011050849</b>
            </li>
            <li>
                <p>TITLE: - <b>MULTIPLICATIVE INTERLEAVING WITH TREE ALGORITHM (MITA)
                        INTERLEAVER FOR OFDM-IDMA</b></p>
                <b class="status">Role: Inventor</b>
                <b class="status">Status: Published, now under examination. application no.- 202011052331</b>
            </li>
            <li>
                <p>TITLE: - <b>ADVANCED HYBRID SOLAR COLLECTOR</b></p>
                <b class="status">Role: Inventor</b>
                <b class="status">Status: Filed., Under stage of publication. application no.- 202011044377</b>
            </li>
            <li>
                <p>TITLE: - <b>- SYSTEM AND METHOD OF CONTROLLING HOME APPLIANCES</b></p>
                <b class="status">Role: First applicant & inventor</b>
                <b class="status">Status: Published, now under examination. application no. – 202011054258</b>
            </li>
            <li>
                <p>TITLE: - <b>WEARABLE EYE MOVEMENT DETECTION DEVICE AND METHOD</b></p>
                <b class="status">Role: First applicant & inventor</b>
                <b class="status">Status: Published, now under examination. application no. – 202111003126</b>
            </li>
            <li>
                <p>TITLE: - <b>DROWSINESS DETECTION SYSTEM AND METHOD IN CABIN</b></p>
                <b class="status">Role: First applicant and inventor. application no.- 202111007242</b>
            </li>
            <li>
                <p>TITLE: - <b>ADVANCED REMOTE BIOMETRIC ATTENDANCE SYSTEM
                        FORPREVENTING THE SPREAD OF COVID19 INFECTION</b></p>
                <b class="status">Role: First applicant and inventor. application no.- 202111011435</b>
            </li>
        </ol>
    </div>
</div>

<%- include('partials/footer') %>