<%- include('partials/header') %>

<div class="container">
    <h1 class="headline">
        <i class='bx bx-expand-horizontal bx-sm'></i>
        <p class="underline">Journal Papers Publication List:</p>
    </h1>
    <div class="i-p">
        <p><b>Two International Australian patents</b> have been granted in 2020 & 2021</p>
        <ol>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, I.M. Al-Helal, “Thermal modelling of N partially covered photovoltaic thermal (PVT)–Compound parabolic concentrator (CPC) collectors connected in series”, <b>Solar Energy</b>, 123 (2016) 174–184 <b>(Elsevier)</b>. ISSN: 0038-092X. <b>Impact factor: 4.67. SCI</b> <a href="https://www.sciencedirect.com/" class="underline link" target="_blank">www.sciencedirect.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, Overall Energy, exergy and carbon credit Analysis of N partially covered Photovoltaic Thermal (PVT) concentrating collector connected in series.<b> Solar Energy 136 (2016) 260-267 (Elsevier).</b> ISSN: 0038-092X. <b>Impact factor: 4.67. SCI </b><a href="https://www.sciencedirect.com/" class="underline link" target="_blank">www.sciencedirect.com</a>

            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, Energetic and exergetic analysis of N partially covered photovoltaic thermal -compound parabolic concentrator (PVT-CPC) collectors connected in series.<b> Solar Energy 137 (2016) 441-451 (Elsevier)</b>. ISSN: 0038-092X.<b> Impact factor: 4.67. SCI </b><a href="https://www.sciencedirect.com/" class="underline link" target="_blank">www.sciencedirect.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, Sumit Tiwari, G. N. Tiwari, “Performance of partially covered N number of photovoltaic thermal (PVT)–Compound parabolic concentrator (CPC) collectors connected in series connected water heating system”, <b>International Journal of Electrical, Computer, Energetic, Electronic and Communication Engineering</b> Vol: 10, No: 1, p.p. 111-116, 2016 <a href="https://waset.org//" class="underline link" target="_blank">www.waset.org</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, Sumit Tiwari, G. N. Tiwari, “Thermal Analysis of Photovoltaic Integrated Greenhouse Solar Dryer”<b> International Journal of Electrical, Computer, Energetic, Electronic and Communication Engineering</b> Vol: 10, No: 1, p.p. 81-85, 2016 <a href="https://waset.org//" class="underline link" target="_blank">www.waset.org</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, Annual performance evaluation (energy and exergy) of fully covered concentrated photovoltaic thermal (PVT) water collector: An experimental validation. <b>Solar Energy 146 (2017) 180-190 (Elsevier)</b>. ISSN: 0038-092X.<b> Impact factor: 4.67. SCI </b><a href="https://www.sciencedirect.com/" class="underline link" target="_blank">www.sciencedirect.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, Energy matrices evaluation and exergoeconomic analysis of series connected N partially covered (glass to glass PV module) concentrated -photovoltaic thermal (CPVT) collector: at constant flow rate mode.<b> Energy conversion and management 145 (2017) 353-370. (Elsevier)</b>. ISSN: 0196-8904.<b> Impact factor: 8.20. SCI</b> <a href="https://www.sciencedirect.com/" class="underline link" target="_blank">www.sciencedirect.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, T. S. Bhatti, “<b>2-E (Energy-Exergy) for partially covered concentrated photovoltaic thermal (PVT) collector”. Energy Procedia 142 (2017) 616-623. (Elsevier)</b>. ISSN: 1876-6102. <b>SCOPUS Indexed </b><a href="https://www.sciencedirect.com/" class="underline link" target="_blank">www.sciencedirect.com</a>
            </li>
            <li>
                Vineet Saini,<b> Rohit Tripathi</b>, G. N. Tiwari, I.M. Al-Helal. Electrical and thermal assessment of N partially covered PVT-compound parabolic concentrator collector connected in series, for different solar cell materials. <b>Applied Thermal Engineering 128 (2018) 1611-1623. (Elsevier)</b>.
                ISSN: 1359-4311.<b> Impact factor: 4.02. SCI </b><a href="https://www.sciencedirect.com/" class="underline link" target="_blank">www.sciencedirect.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari. Energy matrices, life cycle cost, carbon mitigation and credits of open-loop N concentrated photovoltaic thermal (CPVT) collector at cold climate in India: A comparative study. <b>Solar Energy 186 (2019), 347-359 (Elsevier)</b>. ISSN: 0038-092X.<b> Impact factor: 4.67. SCI </b><a href="https://www.sciencedirect.com/" class="underline link" target="_blank">www.sciencedirect.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, Ranjeeta Yadav, Sachin Yadav (2019). FPGA Implementation of Efficient FIR Filter. <b>International Journal of Engineering and Advanced Technology</b>, 2020, Volume-9 Issue-3, 3410-3412. (ISSN: 2249–8958) <b>Scopus Indexed </b><a href="https://www.ijeat.org/" class="underline link" target="_blank"> https://www.ijeat.org</a>
            </li>
            <li>
                <b>R. Tripathi</b>, T. S. Bhatti and G. N. Tiwari, (2020) Effect of packing factor on electrical and overall energy generation through low concentrated photovoltaic thermal collector in composite climate condition, Materials Today: Proceedings, ISSN: 2214-7853. <b>Impact factor: 0.69 (Elsevier) Scopus Indexed </b><a href="https://doi.org/10.1016/j.matpr.2020.05.005" class="underline link" target="_blank">https://doi.org/10.1016/j.matpr.2020.05.005</a>
            </li>
            <li>
                Tushit Gupta,<b> Rohit Tripathi</b>, M. K. Shukla, S. Mishra, “Design and Development of IOT Based Smart Library using Line Follower Robot” International Journal on Emerging Technologies, 11(2) (2020) 1105–1109. (ISSN: 2249-3255).<b> Scopus Indexed</b> <a href="https://www.researchtrend.net/ijet" class="underline link" target="_blank">https://www.researchtrend.net/ijet</a>
            </li>
            <li>
                Rahul Dev, <b>Rohit Tripathi</b>, Ruquiya Khanam, “Finger-vein Template Recognition System using CNN RESNET 18”, International Journal of Advanced Science and Technology 11(6) 735-744 2020 (ISSN: 2207-6360).<b>Scopus Indexed</b>.
            </li>
            <li>
                Rahul Dev, <b>Rohit Tripathi</b>, Ruquiya Khanam, “A Novel Approach Based Multi Biometric Finger Vein Template Recognition System using HGF”, Open Computer Science, vol. 11, no. 1, 2021, pp. 337-345.<b> Scopus Indexed</b> <a href="
                https://doi.org/10.1515/comp-2020-0187" class="underline link" target="_blank">https://doi.org/10.1515/comp-2020-0187</a>
            </li>
            <li>
                Chaitanya S, <b>Rohit Tripathi</b>, Ranjan Walia, Deepika Chauhan, Anju Asokan. <b>“Blockchain and IOT integrated Smart City Architecture”</b>. Turkish Journal of Computer and Mathematics Education 12 (9), (2021), 62-69. (ISSN-1309-4653).<b> Scopus Indexed</b> <a href="https://turcomat.org/index.php/turkbilmat/article/view/2794/2391" class="underline link" target="_blank">https://turcomat.org/index.php/turkbilmat/article/view/2794/2391</a>
            </li>
        </ol>
    </div>
    <h1 class="headline">
        <i class='bx bx-expand-horizontal bx-sm'></i>
        <p class="underline">Conferences Papers:</p>
    </h1>
    <div class="i-p">
        <ol>
            <li>
                <b>Rohit Tripathi</b>, Sumit Tiwari, “Exergy analysis and carbon credit earned from double slope active solar still under natural circulation mode” in International Conference “Energy Security, Global Warming and Sustainable Climate SOLARIS 2012” (ISBN:9789382332039) pp. 689-699 which was held on 08-09 February, 2012 at IIT-Banaras Hindu University (IIT-BHU), Varanasi, U. P., India.
            </li>
            <li>
                <b>Rohit Tripathi</b>, Sumit Tiwari, G. N. Tiwari, “Energy analysis of fully covered (N) number of photovoltaic thermal-compound parabolic concentrator collectors connected in series” in International conference on Advanced and agile manufacturing systems (ISBN9789385777035), p.p. 429-433, held on 28-29, December 2015 at KNIT Sultanpur, U.P., India.
            </li>
            <li>
                Sumit Tiwari, <b>Rohit Tripathi</b>, G. N. Tiwari, <b>“Energy analysis of photovoltaic-thermal (PVT) greenhouse solar dryer”</b>, in International conference on Advanced and agile manufacturing systems (ISBN-9789385777035), p.p. 434-437, held on 28-29, December 2015 at KNIT Sultanpur, U.P., India.
            </li>
            <li>
                <b>Rohit Tripathi</b>, Sumit Tiwari, G. N. Tiwari, “Performance of partially covered N number of photovoltaic thermal (PVT)–Compound parabolic concentrator (CPC) collectors connected in series connected water heating system”, 18th International conference on Energy, Environment and sustainability development (ICEESD 2016) -eissn: 1307-6892 at Paris France, Jan 21-22, 2016, p.p. 1963-1968, 18 (1) Part XII.
            </li>
            <li>
                Sumit Tiwari, <b>Rohit Tripathi</b>, G. N. Tiwari, <b>“Thermal Analysis of Photovoltaic Integrated Greenhouse Solar Dryer”</b>, 18th International conference on Energy, Environment and sustainability development (ICEESD 2016) - eissn:1307-6892 at <b>Paris France, Jan 21-22, 2016, p.p. 1958-1962, 18 (1) Part XII</b>.
            </li>
            <li>
                <b>Rohit Tripathi</b>, Sumit Tiwari, G. N. Tiwari, “Energy analysis of partially covered number (N) of photovoltaic thermal-compound parabolic concentratocollectors connected in series at constant collection temperature mode” in IEEE International conference on Emerging trends in Electrical, Electronics and sustainable Energy systems (ICETEESES-16) (ISBN9789385777318), p.p. 33-37, held on 11-12, march 2016 at KNIT Sultanpur, U.P., India. <a href="https://ieeexplore.ieee.org/Xplore/home.jsp" class="underline link">www.ieeeexplore.com</a>
            </li>
            <li>
                Sumit Tiwari, <b>Rohit Tripathi</b>, G. N. Tiwari, “Effect of packing factor of photovoltaic module on performance of photovoltaic thermal (PVT) greenhouse solar dryer” in IEEE International conference on Emerging trends in Electrical, Electronics and sustainable Energy systems (ICETEESES-16) (ISBN-9789385777318), p.p. 123-126, held on 11-12, march 2016 at KNIT Sultanpur, U.P., India. <a href="https://ieeexplore.ieee.org/Xplore/home.jsp" class="underline link">www.ieeeexplore.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, “Overall energy and exergy performance of partially covered N Photovoltaic thermal (PVT) -compound parabolic concentrator (CPC) collectors connected in series”. IEEE International conference on power electronics, intelligent control and energy systems held on 04-06 July 2016 at DTU Campus, New Delhi, India. <a href="https://ieeexplore.ieee.org/Xplore/home.jsp" class="underline link">www.ieeeexplore.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, Sumit Tiwari, G. N. Tiwari, “Energy performance of partially covered N of photovoltaic thermal-compound parabolic concentrator collector for cold climate condition” in 2nd IEEE International conference on innovative application of computational intelligence on power, energy and controls with their impact on humanity (CIPECH-16) (ISBN9789386256140) held on 18-19, November 2016 at KIET Ghaziabad, U.P., India. <a href="https://ieeexplore.ieee.org/Xplore/home.jsp" class="underline link">www.ieeeexplore.com</a>
            </li>
            <li>
                Sumit Tiwari, <b>Rohit Tripathi</b>, G. N. Tiwari, “Energy analysis of photovoltaic thermal (PVT) Greenhouse under forced mode without load condition” in 2nd IEEE International Conference on innovative application of computational intelligence on power, energy and controls with their impact on humanity (CIPECH-16) (ISBN-9789386256140) held on 18-19, November 2016 at KIET Ghaziabad, U.P., India. <a href="https://ieeexplore.ieee.org/Xplore/home.jsp" class="underline link">www.ieeeexplore.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, “Annual energy, exergy and environmental benefits of N half covered concentrated photovoltaic thermal (CPVT) air collectors” in <b>1st</b> Springer International conference on Emerging trends and advances in Electrical engineering and renewable energy (ETAEERE-16) (ISBN-9789352654848) held on 17-18, December 2016 at <b>Sikkim Manipal University (SMU), Sikkim, India</b>.
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, “Experimental validation study for an open loop fully covered concentrated photovoltaic thermal (PVT) water heater” in IEEE International conference on Intelligent Computing, Instrumentation and Control technologies-2017 (ICICICT-2017) (ISBN9781509061020) held on 06-07 July, 2017 at <b>Vimal Jyoti Engineering College, Kannur, Kerala, India</b>.
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, T. S. Bhatti, “2-E (Energy-Exergy) for partially covered concentrated photovoltaic thermal (PVT) collector” in International Conference on Applied Energy (Elsevier), held on 21-24 August 2017 at <b>Cardiff University, Cardiff, UK</b>. <a href="https://www.sciencedirect.com/" class="underline link">www.sciencedirect.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, Abhishek Tiwari, G. N. Tiwari, “Overall performance of N partially covered photovoltaic thermal-compound parabolic concentrator (PVT-CPC) collector with different concentration ratio” in International conference on Springer Advances in Energy & Research 2017. It will be held on 12-14 December 2017 at <b>IIT Bombay, India</b>.
            </li>
            <li>
                Abhishek Tiwari, <b>Rohit Tripathi</b>, G. N. Tiwari, “Improved Analytical Model for Electrical Efficiency of Semitransparent Photovoltaic (PV) Module” in Springer International conference on Advances in Energy & Research 2017. It will be held on 12-14 December 2017 at <b>IIT Bombay, India</b>.
            </li>
            <li>
                <b>Rohit Tripathi</b>, Rishabh Kaushik, Sukanya Sharma, Tushar Arora. Design of Eye-writer for ALS Patients through Eye-can. Accepted in IEEE International conference on computing, power and communication technologies 2018, which will be held on 28-29 Sep 2018 at GCET, G.Noida, India. <a href="https://ieeexplore.ieee.org/Xplore/home.jsp" class="underline link">www.ieeeexplore.com</a>
            </li>
            <li>
                <b>Rohit Tripathi</b>, Deepak Sharma, G. N. Tiwari. Comparison of electrical energy and power of PV cells/modules with different cells materials in clear sky day condition. In International Conference on Advances in Nanomaterials and Devices for Energy and Environment held on 27-29 Jan 2019, at <b>Atal Bihari Bajpai- Indian Institute of Information and Technology and Management (ABV-IIITM) Gwalior, M.P., India</b>.
            </li>
            <li>
                <b>Rohit Tripathi</b>, Deepak Sharma, G. N. Tiwari. Electrical and overall energy evaluation of series connected N identical of concentrated photovoltaic thermal collector. In International Conference SOLARIS 2019, held on 07-09 Feb 2019 at <b>Jamia Milia Islamia, New Delhi, India</b>.
            </li>
            <li>
                <b>Rohit Tripathi</b>, Deepak Sharma, Nitin K. Gupta, G. N. Tiwari, T. S. Bhatti, Experimental validation study for electrical, thermal and overall energy production through open low concentration ratio based photovoltaic hybrid collector. In International Conference on ICMET2019 held on 07-08 Nov 2019 at GCET, G. Noida, India.
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, T. S. Bhatti. Effect of packing factor on electrical and overall energy generation through low concentrated photovoltaic thermal collector in composite climate condition. In International Conference ANEM 2019, held on 04-06, Dec 2019 at <b>University of Western Australia, Perth, Australia</b>.
            </li>
            <li>
                <b>Rohit Tripathi</b>, Deepak Sharma, Nitin K. Gupta, T. S. Bhatti, G. N. Tiwari. Evaluation of annual electrical energy through semitransparent (glass to glass) and opaque photovoltaic module in clear sky condition at composite climate: A comparative study. In ICAER2019, held on 10-12 Dec 2019 at <b>IIT Bombay, India</b>.
            </li>
            <li>
                <b>Rohit Tripathi</b>, G. N. Tiwari, T. S. Bhatti. Electrical energy and power generation from three different photovoltaic module technology in composite climate condition: A comparative study. In International Conference on Electrical and Electronics Engineering, ICEEE2020, held on Feb 28-29, 2020 at <b>National Power Training Institute (NPTI) Central Govt. of India, Faridabad</b>.
            </li>
            <li>
                <b>Rohit Tripathi</b>, Sanjay Agrawal, Rashmi Agrawal, Devender Singh, R. N. Shaw“Synchronization, Fault Detection of PV Array and Grid with MPPT Techniques Using MATLAB/Simulink. In International Conference on Electrical and Electronics Engineering, ICEEE2020, held on Feb 28-29, 2020 at <b>National Power Training Institute (NPTI) Central Govt. of India, Faridabad</b>.
            </li>
            <li>
                <b>Rohit Tripathi</b>, Nitin, Honey Pratap, “Intelligent car cabin safety system through IoT application” In <b>Springer</b> International conference on <b>Congress on Intelligent Systems-CIS 2020</b> which was held on 5-7 Sep 2020 on virtual mode.
            </li>
            <li>
                <b>Rohit Tripathi</b>, Sanjay Agrawal, R. N. Shaw, "Impact of Number of Collector on Energy Profile from Concentrated Fully Covered Hybrid Photovoltaic (CHPV) System" In <b>IEEE</b> 5th International Conference on Computing Communication and Automation (<b>ICCCA2020</b>), pp.802-806, 2020 held on 30-31 Oct 2020 in virtual mode.
            </li>
            <li>
                <b>Rohit Tripathi</b>, M. K. Shukla. Review on IoT enabled photovoltaic power plant control and monitoring. In <b>Springer</b> International Conference on Electrical and Electronics Engineering, ICEEE2021, held on Jan 02-03, 2021 in virtual mode.
            </li>
            <li>
                <b>Rohit Tripathi</b>, S. K. Tripathi. Graphene Properties and its Utility for High Frequency Antennas. In <b>Springer</b> International Conference on Electrical and Electronics Engineering, ICEEE2021, held on Jan 02-03, 2021 in virtual mode.
            </li>
            <li>
                <b>Rohit Tripathi</b> and Manoj K Shukla, Yogesh Kumar “Intelligent physical access control system through three stage verification using IoT”. In <b>Springer</b> International Conference on Electrical and Electronics Engineering, ICEEE2021, held on Jan 02-03, 2021 in virtual mode.
            </li>
        </ol>
    </div>
    <h1 class="headline">
        <i class='bx bx-expand-horizontal bx-sm'></i>
        <p class="underline">Book Chapters:</p>
    </h1>
    <div class="i-p">
        <ol>
            <li>
                <b>Chapter-12-Tripathi Rohit</b>, Tiwari G.N. (2018) “Annual Energy, Exergy, and Environmental Benefits of N Half Covered Concentrated Photovoltaic Thermal (CPVT) Air Collectors”. In: SenGupta S., Zobaa A., Sherpa K., Bhoi A. (eds) <b>Advances in Smart Grid and Renewable Energy</b>. Lecture Notes in Electrical Engineering, vol 435, <b>pp. 113-127</b>, Springer, Singapore
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-10-4286-7_12" class="underline link">https://link.springer.com/chapter/10.1007/978-981-10-4286-7_12</a></p>
            </li>
            <li>
                <b>Chapter-40-Tripathi Rohit</b>, Sharma Rakhi., Tiwari G.N. (2020) “Experimental study on PV degradation losses assessment of stand-alone photovoltaic (SAPV) array in field: A new simplified comparative analytical approach”. In: Bhoi A., Sherpa K., Kalam A., Chae GS. (eds) <b>Advances in Greener Energy Technologies</b>. In book series-Green Energy and Technology, pp685-706Springer, Singapore.
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-15-4246-6_40" class="underline link">https://link.springer.com/chapter/10.1007/978-981-15-4246-6_40</a></p>
            </li>
            <li>
                <b>Chapter-58-Tripathi Rohit</b>, Sharma D., Gupta N.K., Tiwari G.N., Bhatti T.S., Dwivedi V.K. (2020) “Experimental Validation for Electrical, Thermal and Overall Energy Generation from Open Low Concentration Ratio-Based Photovoltaic Hybrid Collector”. In: Yadav S., Singh D., Arora P., Kumar H. (eds) Proceedings of International Conference in Mechanical and Energy Technology. <b>Smart Innovation, Systems and Technologies</b>, vol 174, pp 623-633, Springer, Singapore.
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-15-2647-3_58" class="underline link">https://link.springer.com/chapter/10.1007/978-981-15-2647-3_58</a></p>
            </li>
            <li>
                <b>Chapter-11-Tripathi Rohit</b>, Tiwari A., Tiwari G.N. (2020) “Overall Performance of N Partially Covered Photovoltaic Thermal-Compound Parabolic Concentrator (PVT-CPC) Collector with Different Concentration Ratio”. In: Singh S., Ramadesigan V. (eds) <b>Advances in Energy Research, Vol. 2</b>, pp 113-122, Springer Proceedings in Energy. Springer, Singapore.
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-15-2662-6_11" class="underline link">https://link.springer.com/chapter/10.1007/978-981-15-2662-6_11</a></p>
            </li>
            <li>
                <b>Chapter-10</b>-Tiwari A., <b>Tripathi Rohit</b>, Tiwari G.N. (2020) “Improved Analytical Model for Electrical Efficiency of Semitransparent Photovoltaic (PV) Module”. In: Singh S., Ramadesigan V. (eds) <b>Advances in Energy Research, Vol. 1</b>, pp 89-99, Springer Proceedings in Energy. Springer, Singapore
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-15-2666-4_10" class="underline link">https://link.springer.com/chapter/10.1007/978-981-15-2666-4_10</a></p>
            </li>
            <li>
                <b>Chapter-145- Rohit Tripathi</b>, Nitin K Gupta, Deepak Sharma, G. N. Tiwari, T. S. Bhatti “Evaluation of annual electrical energy through semitransparent (glass to glass) and opaque photovoltaic module in clear sky condition at composite climate: A comparative study” In <b>Proceedings of the 7th International Conference on Advances in Energy Research, book series- Springer Proceedings in Energy</b>. Springer, Singapore.
                <p class="ch-link"><a href="https://link-springer-com-443.webvpn.jnu.edu.cn/chapter/10.1007%2F978-981-15-5955-6_145" class="underline link">https://link-springer-com-443.webvpn.jnu.edu.cn/chapter/10.1007%2F978-981-15-5955-6_145</a></p>
            </li>
            <li>
                <b>Chapter-18- Rohit Tripathi</b>, G. N. Tiwari, T. S. Bhatti. Electrical energy and power generation from three different photovoltaic module technology in composite climate condition: A comparative study. In <b>Innovations in Electrical and Electronic Engineering</b>. Springer: Lecture Notes in Electrical Engineering (LNEEE), Springer, Singapore. 
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-15-4692-1_18" class="underline link">https://link.springer.com/chapter/10.1007/978-981-15-4692-1_18</a></p>
            </li>
            <li>
                <b>Chapter-21-Rohit Tripathi</b>, Sanjay Agrawal, Rashmi Agrawal, Devender Singh, R. N. Shaw “Synchronization, Fault Detection of PV Array and Grid with MPPT Techniques Using MATLAB/Simulink” In <b>Innovations in Electrical and Electronic Engineering</b>. Springer: Lecture Notes in Electrical Engineering (LNEEE), Springer, Singapore. 
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-15-4692-1_21" class="underline link">https://link.springer.com/chapter/10.1007/978-981-15-4692-1_21</a></p>
            </li>
            <li>
                <b>Chapter-27-Rohit Tripathi</b>, Adwait Parth, Manish, Manoj K. Shukla “Modelling and designing of E-bike for local use” In: Patel N., Bhoi A.K., Padmanaban S., Holm-Nielsen J.B. (eds) Electric Vehicles. Green Energy and Technology. Springer, Singapore.
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-15-9251-5_12" class="underline link">https://doi.org/10.1007/978-981-15-9251-5_12</a></p>
            </li>
            <li>
                <b>Chapter-23-Rohit Tripathi</b>, Nitin, Honey Pratap, Manoj K. Shukla, “Intelligent car cabin safety system through IoT application” In: Sharma H., Saraswat M., Yadav A., Kim J.H., Bansal J.C. (eds) Congress on Intelligent Systems. CIS 2020. Advances in Intelligent Systems and Computing, vol 1334. Springer, Singapore.
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-33-6981-8_21" class="underline link">https://doi.org/10.1007/978-981-33-6981-8_21</a></p>
            </li>
            <li>
                <b>Chapter-22-Rohit Tripathi</b>, S. K. Tripathi, Graphene Properties and its Utility for High Frequency Antennas In: Mekhilef S., Favorskaya M., Pandey R.K., Shaw R.N. (eds) Innovations in Electrical and Electronic Engineering. Lecture Notes in Electrical Engineering, vol 756. Springer, Singapore. 
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-16-0749-3_30" class="underline link">https://doi.org/10.1007/978-981-16-0749-3_30</a></p>
            </li>
            <li>
                <b>Chapter-29-Rohit Tripathi</b>, Manoj K. Shukla, Yogesh Kumar. Intelligent physical access control system through three stage verification using IoT. In: Mekhilef S., Favorskaya M., Pandey R.K., Shaw R.N. (eds) Innovations in Electrical and Electronic Engineering. Lecture Notes in Electrical Engineering, vol 756. Springer, Singapore. 
                <p class="ch-link"><a href="https://link.springer.com/chapter/10.1007/978-981-16-0749-3_68" class="underline link">https://doi.org/10.1007/978-981-16-0749-3_68</a></p>
            </li>
        </ol>
    </div>
</div>

<%- include('partials/footer') %>