<%- include('partials/header') %>

    <h1 class="team">Research Group</h1>


    <div class="container">
        <div class="right">
            <img class="right-img" src="/images/Aryan.jpeg" alt="aryan-img" />
            <p class="right-text">
                <strong>Aryan </strong>is a final-year student (Batch 2023) at
                J.C.
                Bose University of Science and Technology, YMCA, Faridabad,
                Haryana,
                pursuing his Bachelor of Technology in Electronics and
                Communication
                Engineering. He has an innovative vision, product development
                skillset
                and tries to provide solutions, which are sustainable,
                economically
                feasible, and technologically viable. For the past 3 years, he
                has
                been associated with the Institute of Electrical and Electronics
                Engineers (IEEE) and has proved to be a dynamic volunteer by
                volunteering at National and International Events, thus
                reflecting his
                exemplary management and leadership skills at all levels. You
                can find
                him delivering STEM related content through his YouTube
                initiative
                named "The Knowledge Mountain" and following his passion of
                being a
                numismatist (coins and banknotes collector). His research areas
                are
                Solar energy, Photovoltaic technology, Graphene, Energy storage
                systems and Internet of Things (IoT). He has several research
                papers
                in form of journal and conference proceedings in Springer,
                Elsevier,
                IEEE, Taylor and Francis, and 2 patents filed under his name in
                Indian
                Patent Office.<br>
                His major accomplishments are:
                <ul>
                    <li>Child Scientist Awardee by the NCSC (National Children’s
                        Science Congress) and the DST
                        (Department of Science & Technology)</li>
                    <li>Recipient of "Honorable
                        Mention" for the 2022 IEEE Women in Engineering (WiE)
                        Inspiring
                        Student Member of the Year Award with a cash prize of
                        USD $250.</li>
                    <li>Recipient of “Academic Achievement Award” and
                        “Outstanding Achievement
                        Award” on the occasion of 52nd & 53rd Foundation Day of
                        the
                        University. </li>
                    <li>Recipient of highly competitive and one of the most
                        prestigious IEEE Richard E. Merwin (REM) student
                        scholarship for
                        Spring-2022, having USD $1000 as cash grant.</li>
                    <li>Best-Speaker at
                        Environment Youth Forum - 2021 and 2022 under
                        competitions organized
                        by JCBUST, YMCA, Faridabad - Recipient of Global
                        Changemaker
                        Fellowship by Connecting Dreams Foundation (CDF) [23
                        people were
                        selected from 1200+ applicants from 90+ countries]</li>
                    <li> Winner at several
                        Research Poster presentations conducted by IEEE
                        AcSIR-CSIO Chandigarh,
                        Young Scientist Conference, etc.</li>
                    <li>National Level Business Hackathon Competition 2021
                        organized by IIC
                        SRCASW, University of Delhi under UDAAN’21 – National
                        Innovation Fest</li>
                    <li>Invited Guest speaker at National and International
                        platforms like
                        Mozilla (Mozfest), IEEE, AcSIR-CSIO Chandigarh and
                        several other
                        YouTube platforms</li>
                    <li>Currently serving as the Brand Ambassador of IEEE,
                        and the Editorial Coordinator at IEEE India Council
                        Newsletter Team.</li>
                </ul>
            </p>
        </div>
        <div class="left">
            <img class="left-img" src="/images/Simran.jpg" alt="left-img">
            <p class="left-text"><strong>Simran</strong> is a penultimate year
                student (Batch 2024) at J.C. Bose University of
                Science and Technology, YMCA, Faridabad, Haryana, pursuing her
                Bachelor of Technology in Electronics and
                Computer Engineering. She has an innovative mindset, project
                making skillset and tries to think solutions, which
                are achievable, practicle, and technologically viable. For the
                past 3 years, she has been working on variety of
                different projects and learning skills for them.<br>

                Her major accomplishments are:
                <ul>
                    <li>Recipient of "Best Innovation Award” at HSEIP(Hero
                        electric skill innovation and employblity program) for
                        an
                        ev bike made from scratch in a team at CGC Mohali.</li>
                    <li>Ranked in top 5 in WRC(World Robotic Championship) held
                        in Indira Gandhi Stadium in robo race category</li>
                    <li>Participated and won at various examinations and quizes
                        including KYVP and NTSE.</li>
                    <li>Speaker at Solar Power Generation and BMS Circuits
                        program held in University auditorium.
                    </li>
                    <li>Ranked in top 5 in WRC(World Robotic Championship) held
                        in Indira Gandhi Stadium in robo race category</li>
                </ul><br>
                And she is currently focusing on EV and solar domain as extra
                field along with vivardo and AI for professional
                purposes.
                <br><br>
                Softwares known to her:
                <ul>
                    <li>Arduino IDE</li>
                    <li>Proteus</li>
                    <li>Xilinx</li>
                    <li>Pycharm</li>
                    <li>Vs code</li>
                </ul>
            </p>

        </div>
        <div class="right">
            <img class="right-img" src="/images/Ayush.jpg" alt="ayush-img" />
            <p class="right-text">
                <strong>Ayush</strong> is a penultimate year student (Batch
                2024) at J.C. Bose University of Science and
                Technology, YMCA, Faridabad, Haryana, pursuing her Bachelor of
                Technology in Electronics and Communication
                Engineering. He is Passionate about engineering since class 9th,
                Electronics engineering was his first choice as
                a career. Working on microcontroller-based projects since 6
                years and innovating every now or then. He holds
                formidable knowledge about EV, Embedded, IoT, Mechatronics, and
                designing sectors.<br>
                <br>
                His major accomplishments are:
                <ul>
                    <li>Secured in Top 5 ranks in national level robotics
                        competitions of IIT Guwahati and IIT Kharagpur </li>
                    <li>Ranked 1st in national level competitions of IIT Madras
                        and IIT Jammu in CAD Designing </li>
                    <li>Gained 1st position in bridge designing competition of
                        IIT Goa</li>
                    <li>Received 1st prize in EV designing competition of IIT
                        Dhanbad</li>
                    <li>Speaker at workshops on Mechatronics and PCB Designing</li>
                    <li>Recipient of two“Outstanding Achievement Awards in
                        Technical and Innovation” on the occasion of 53rd
                        Foundation Day of the University.</li>
                </ul><br>
                He is currently working on AICTE approved projects:
                <ol>
                    <li>Autonomous drone</li>
                    <li>AI Wheelchair</li>
                    <ol><br>

                        He has a Keen interest in Defence, Aviation, and EV
                        sectors and tends to provide efficient, ergonomic, and
                        cost-effective solutions to various engineering
                        problems.
                    </p>
                </div>

            </div>

            <%- include('partials/footer') %>